@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h4>Add a new category</h4>
<div class="w-50">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class="form-control", placeholder="Name", required="required" })
    </div>
    <input type="submit" value="Add Category" class="btn btn-info btn-sm m-3" />
  }
</div>


@Html.ActionLink("Back to Categories", "Index", new { }, new { @class = "btn btn-primary"})