@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome to Recipe Box!</h1>
    <p>A place to record and share your favorite recipes.</p>
</div>
<br>
<div id="home-image" class="text-center">
    <img src='~/img/bento.jpg' class="rounded mx-auto" alt="two bento boxes">
</div>
