@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Recipe Box!</h1>
</div>

@Html.ActionLink("View Recipes", "Index", "Recipes", new { }, new { @class = "btn btn-primary"})
@Html.ActionLink("View Ingredients", "Index", "Ingredients", new { }, new { @class = "btn btn-primary"})
@Html.ActionLink("View Categories", "Index", "Categories", new { }, new { @class = "btn btn-primary"})
@Html.ActionLink("Sign Up", "Register", "Account", new { }, new { @class = "btn btn-success"})